.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.hero img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  animation: fadeEffect 1.5s ease-in-out; 
}

.profile-wrapper {
  margin-top: 20px;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 3px solid #B415FF;
  box-shadow: 0 0 25px rgba(180, 21, 255, 0.6);
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  animation: fadeEffect 2.5s ease-in-out;
}

.hero h2{
  width: 70%;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  position: relative;
  display: inline-block;
  padding-bottom: 14px;
}

.hero h2 span{
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h2::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 50%;
  height: 3px;
  background: linear-gradient(90deg, #a855f7, #f59e0b);
  border-radius: 10px;
  transform-origin: center;
  animation: underlineGrow 2.5s ease-in-out infinite;
}

@keyframes underlineGrow{
  0%{
    transform: translateX(-50%) scaleX(0);
  }
  50%{
    transform: translateX(-50%) scaleX(1);
  }
  100%{
    transform: translateX(-50%) scaleX(0);
  }
}

.hero p{
  width: 50%;
  font-size: 24px;
  line-height: 40px;
  color: #d1d5db;
}

.hero-action{
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect{
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-resume{
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-connect:hover{
  border: 2px solid #fff;
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(249, 115, 22, 0.4);
}

.hero-resume:hover{
  border-color: #B415FF;
}

@media(max-width:768px){

  .hero img{
    width: 220px;
    height: 220px;
    margin-top: 40px;
  }

  .hero h2{
    width: 90%;
    font-size: 36px;
  }

  .hero p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
  }

  .hero-action{
    gap: 16px;
    font-size: 18px;
  }

  .hero-connect{
    padding: 18px 30px;
  }

  .hero-resume{
    padding: 18px 45px;
  }
}