.contact {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.contact-title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 80px;
}

.contact-title h1{
  
    font-size: 80px;
    font-weight: 600;
    background: linear-gradient(90deg, #B415FF, #DF8908);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
}



.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}


.contact-left {
  flex: 1;
}

.contact-left h1 {
  font-size: 72px;
  background: linear-gradient(270deg, #DF8908, #B415FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contact-left p {
  color: #d8d8d8;
  font-size: 18px;
  line-height: 30px;
  max-width: 500px;
}

.contact-details {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-detail{
  display: flex;
  align-items: center;
  gap: 15px;
  color: #d8d8d8;
}

.contact-detail img{
  width: 24px;
  height: 24px;
}


.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.contact-right label {
  color: #d8d8d8;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;

}

.contact-right input,
.contact-right textarea {
  width: 100%;
  display: block;
  padding: 18px;
  border-radius: 6px;
  border: none;
  background: #32323c;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  
}

.contact-right textarea {
  height: 160px;
  resize: none;
}

.contact-submit {
  width: fit-content;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(270deg, #DF8908, #B415FF);
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-start;
}
.contact-submit:hover{
    transform: scale(1.1);
    transform: 0.3s;
    border: 2px solid white;
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(249, 115, 22, 0.4);
}
@media(max-width:768px){

  .contact{
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .contact-title h1{
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .contact-section{
    flex-direction: column;

  }
  .contact-left h1{
    font-size: 54px;
  }
  .contact-left p{
    font-size: 18px;
  }
  .contact-detail{
    gap: 30px;
  }
  
  
  .contact-right label{
    font-size: 20px;
  }
  .contact-right input{
    width: 100%;
    font-size: 20px;
  }
  .contact-right textarea{
    width: 95%;
    font-size: 20px;
  }
  .contact-submit{
    font-size: 20px;
    padding: 15px 40px;
  }
  
}

