/* =========================
   NAVBAR DESKTOP
========================= */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 120px;
    position: relative;
}

.navbar img{
    height: 100px;
    width: 250px;
    object-fit: contain;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
   margin: auto;
   height: 40px;
   width: 40px;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.nav-connect{
    padding: 30px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg ,#DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}

/* Mobile icons hidden on desktop */
.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}


/* =========================
   MOBILE RESPONSIVE
========================= */

/* =========================
   NAVBAR MOBILE
========================= */

@media (max-width: 768px){

  .navbar{
    margin: 20px;
  }

  .navbar img{
    height: 60px;
    width: 160px;
  }

  .nav-connect{
    display: none;
  }

  .nav-mob-open{
    display: block;
    position: absolute;
    right: 20px;
    top: 28px;
    width: 26px;
  }

  .nav-mob-close{
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 24px;
  }

  .nav-menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 280px;
    height: 100vh;
    background: #1F0016;
    flex-direction: column;
    gap: 30px;
    padding-top: 90px;
    padding-left: 25px;
    transition: 0.4s ease;
  }

  .nav-menu li{
    font-size: 20px;
    flex-direction: row;
    gap: 15px;
  }

}