*{
  margin: 0;
  padding: 0;
}
body{
  height:100vh;
  background: #161513;
  color: white;
  font-family: 'outfit';
}
html, body {
  overflow-x: hidden;
}

/* =========================
   GLOBAL MOBILE FIX
========================= */

*{
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
}

img{
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}